{% extends "base.html" %} {% block title %}Reset password{% endblock %}
{% block content %}
  <div class="px-3">
    <h3 class="text-xl font-medium text-gray-900">Reset your password</h3>

    <form method="post">
      {{ csrf_input }} {{ form.non_field_errors }}

      <div class="relative">
        <input
          type="email"
          id="{{ form.email.id_for_label }}"
          name="{{ form.email.html_name }}"
          value="{{ form.email.value or '' }}"
          autocomplete="email"
          autofocus
          required
          placeholder=" "
          class="block px-2.5 pt-5 pb-2.5 w-50 floating-label"
        />
        <label
          for="{{ form.username.id_for_label }}"
          class="absolute top-4 input-label duration-300 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >Email</label
        >

        {% if form.errors %}
          <p>{{ form.email.errors }}</p>
        {% endif %}
      </div>

      <button type="submit" class="btn-primary">Send Reset Link</button>
    </form>
  </div>
{% endblock %}
