<!-- prettier-ignore-start -->

{% extends "base.html" %} {% block title %}Choose new password{% endblock %}

<!-- prettier-ignore-end -->

{% block content%}
  <h1>Set a new password</h1>

  <form method="post">
    {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }} {{ field.errors }}
      </div>
    {% endfor %}

    <button type="submit">Save</button>
  </form>
{% endblock %}
