<form method="post">
  {{ csrf_input }}

  {% if form.non_field_errors() %}
    <div class="error-message">
      {% for error in form.non_field_errors() %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form %}
    <div>
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        <div class="error-message">
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit">Save</button>
</form>
