<!-- prettier-ignore-start -->

{% extends "base.html" %} {% block title %}Reset password{% endblock %}

<!-- prettier-ignore-end -->

{% block content%}
  <div class="px-3">
    <h3 class="text-xl font-medium text-gray-900 dark:text-white">Reset your password</h3>

    <form method="post">
      {% csrf_token %} {{ form.non_field_errors }}

      <div class="relative">

        <input
          type="email"
          id="{{ form.username.id_for_label }}"
          name="{{ form.username.html_name }}"
          value="{{ form.username.value|default_if_none:'' }}"
          autocomplete="email"
          autofocus
          required
          placeholder=" "
          class="block px-2.5 pt-5 pb-2.5 w-50 text-sm text-gray-900 bg-gray-50 rounded-t-lg border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:bg-gray-700 dark:border-gray-600 focus:border-blue-600 focus:ring-0 focus:outline-none peer dark:focus:border-blue-500"
        />
        <label
          for="{{ form.username.id_for_label }}"
          class="absolute top-4 text-sm text-gray-500 duration-300 transform scale-75 -translate-y-4 dark:text-gray-400 origin-left start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
        >Email</label
          >

          {{ form.email }} {{ form.email.errors }}
        </div>

        <button type="submit" class="btn-primary">Send Reset Link</button>

      </form>
    </div>
{% endblock %}
