{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% load static %}
{% block content %}

  <div class="flex justify-center p-4">
    <div
      class="p-4 sm:p-6 lg:p-8 rounded bg-neutral-200 w-80 shadow-md border border-neutral-300"
    >
      <form method="post" class="space-y-6">
        <h3 class="deafult-header">
          Create your account
        </h3>
        {% csrf_token %} {% if form.non_field_errors %}
          <div>{{ form.non_field_errors.0 }}</div>
        {% endif %}

        <div class="relative">
          <input
            placeholder=" "
            type="email"
            id="{{ form.email.id_for_label }}"
            name="{{ form.email.html_name }}"
            value="{{ form.email.value|default_if_none:'' }}"
            autocomplete="email"
            class="block px-2.5 pt-5 pb-2.5 w-full floating-label peer"
            required
          />
          <label
            for="{{ form.email.id_for_label }}"
            class="absolute top-4 input-label duration-300 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
          >Email</label
            >
            {% if form.email.errors %}
              <p>{{ form.email.errors.0 }}</p>
            {% endif %}
          </div>

          <div class="relative">
            <input
              type="text"
              id="{{ form.first_name.id_for_label }}"
              name="{{ form.first_name.html_name }}"
              value="{{ form.first_name.value|default_if_none:'' }}"
              autocomplete="given-name"
              class="block px-2.5 pt-5 pb-2.5 w-full floating-label peer"
              required
              placeholder=" "
            />
            <label
              for="{{ form.first_name.id_for_label }}"
              class="absolute top-4 input-label duration-300 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >First Name</label
              >
              {% if form.first_name.errors %}
                <p>{{ form.first_name.errors.0 }}</p>
              {% endif %}
            </div>

            <div class="relative">
              <input
                placeholder=" "
                type="text"
                id="{{ form.last_name.id_for_label }}"
                name="{{ form.last_name.html_name }}"
                value="{{ form.last_name.value|default_if_none:'' }}"
                autocomplete="family-name"
                class="block px-2.5 pt-5 pb-2.5 w-full floating-label peer"
                required
              />
              <label
                for="{{ form.last_name.id_for_label }}"
                class="absolute top-4 input-label duration-300 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
              >Last Name</label
                >

                {% if form.last_name.errors %}
                  <p class="error">{{ form.last_name.errors.0 }}</p>
                {% endif %}
              </div>

              <div class="relative">
                <input
                  type="password"
                  placeholder=" "
                  id="{{ form.password1.id_for_label }}"
                  name="{{ form.password1.html_name }}"
                  autocomplete="current-password"
                  class="block px-2.5 pt-5 pb-2.5 w-full floating-label peer"
                  required
                />

                <button
                  type="button"
                  data-hs-toggle-password='{
                                           "target": "#{{ form.password1.id_for_label }}"
                                           }'
                  tabindex="-1"
                  onmousedown="event.preventDefault()"
                  class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-blue-600"
                >
                  <span class="eye-slash-icon hover:stroke-blue-600 stroke-current">
                    {% include "components/svgs/pass-mode-pass.svg" %}
                  </span>
                  <span class="eye-icon hidden hover:stroke-blue-600 stroke-current">
                    {% include "components/svgs/text-mode-pass.svg" %}
                  </span>
                </button>
                <label
                  for="{{ form.password1.id_for_label }}"
                  class="absolute top-4 input-label duration-300 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
                >Password</label
                  >
                </div>

                <div class="relative">
                  <input
                    type="password"
                    placeholder=" "
                    id="{{ form.password2.id_for_label }}"
                    name="{{ form.password2.html_name }}"
                    autocomplete="current-password"
                    class="block px-2.5 pt-5 pb-2.5 w-full floating-label peer"
                    required
                  />

                  <button
                    type="button"
                    data-hs-toggle-password='{
                                             "target": "#{{ form.password2.id_for_label }}"
                                             }'
                    tabindex="-1"
                    onmousedown="event.preventDefault()"
                    class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-blue-600"
                  >
                    <span class="eye-slash-icon hover:stroke-blue-600 stroke-current">
                      {% include "components/svgs/pass-mode-pass.svg" %}
                    </span>
                    <span class="eye-icon hidden hover:stroke-blue-600 stroke-current">
                      {% include "components/svgs/text-mode-pass.svg" %}
                    </span>
                  </button>

                  <label
                    for="{{ form.password2.id_for_label }}"
                    class="absolute top-4 input-label duration-300 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
                  >Confirm Password</label
                    >
                  </div>

                  <button type="submit" class="mt-2 w-full btn-primary">Sign up</button>

                  <p class="mt-6 text-sm text-center text-gray-600">
                    Already have an account?
                    <a
                      href="{% url 'mouseapp:login' %}"
                      class="font-semibold"
                    >
                      Log in
                    </a>
                  </p>
                </form>
              </div>
            </div>
{% endblock %}
