{% extends "base.html" %} {% block title %}Accessibility Statement{% endblock %}
{% block content %}
  <div class="max-w-3xl mx-auto px-4 py-8">
    <div class="bg-white-dynamic rounded-lg shadow-md overflow-hidden">
      <div class="bg-secondary px-6 py-4">
        <h2 class="font-bold default-header">Accessibility Statement</h2>
      </div>

      <div class="p-6 prose text-primary">
        <p class="text-primary">
          Labsafe is committed to making its website accessible<!--, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018-->.
          <br /><br />
          This accessibility statement applies to
          <a class="link-dynamic" href="/">The Labsafe website</a>.
        </p>

        <h3 class="font-bold text-2xl text-primary">Compliance Status</h3>
        <p class="text-primary">
          This website is fully compliant with the Web Content Accessibility
          Guidelines (WCAG) version 2.2 AA standard.
        </p>

        <h3 class="font-bold text-2xl text-primary">
          Preparation of this accessibility statement
        </h3>
        <p class="text-primary">
          This statement was prepared on 2026-03-26. <br /><br />
          This statement was prepared using the results of an internal
          evaluation ending on 2026-03-26.
        </p>

        <h3 class="font-bold text-2xl text-primary">
          Feedback and contact information
        </h3>
        <p class="text-primary">
          For any questions about this statement or concerns about the
          accessibility of Labsafe, contact <strong>Team 9</strong>.
        </p>

        <!-- <h3 class="font-bold text-2xl">Enforcement procedure</h3> -->
        <!-- <p> -->
        <!-- The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). <br /><br /> -->
        <!-- If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>. -->
        <!-- </p> -->
      </div>
    </div>
  </div>
{% endblock %}
