{% extends "base.html" %}
{% block title %}Family Tree - {{ center_mouse.strain }}{% endblock %}
{% block content %}
  <div class="mb-4 text-right">
    <a
      href="{{ url('mouseapp:family_tree_svg', id=center_mouse.id) }}"
      download="family_tree_{{ center_mouse.id }}.svg"
      class="btn-primary"
    >
      Download SVG
    </a>
  </div>
  <div
    class="overflow-auto border rounded-lg bg-white shadow-sm p-4 h-[80vh] text-center"
  >
    <object
      type="image/svg+xml"
      data="{{ url('mouseapp:family_tree_svg', id=center_mouse.id) }}"
      style="max-width: none;"
      class="mx-auto block"
    >
      Your browser does not support SVG.
    </object>
  </div>
{% endblock %}
