{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

  {% if user.is_authenticated %}

    <p>Hi {{ user.first_name }}!</p>

    <ul>
      {% for project in user.leading_set.all %}
        <li><a href="{% url 'mouseapp:project' project.id %}">Project with {{ project.researchers.count }} members</a></li>
      {% endfor %}

      {% for project in user.project_set.all %}
        <li><a href="{% url 'mouseapp:project' project.id %}">Project lead by {{ project.lead }}</a></li>
      {% endfor %}
    </ul>


    <form action="{% url 'mouseapp:logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Log out</button>
    </form>
  {% else %}
    <h1>Welcome to MouseMetrics</h1>
    <p>Log in or create an account to continue.</p>
    <a href="{% url 'mouseapp:login' %}">Log in</a>
    <a href="{% url 'mouseapp:register' %}">Sign up</a>
  {% endif %}

{% endblock %}
