{% extends "base.html" %} {% block title %}Privacy Policy{% endblock %} {% block
content %}
<div class="max-w-3xl mx-auto px-4 py-8">
  <div class="bg-white rounded-lg shadow-md overflow-hidden">
    <div class="bg-neutral-200 px-6 py-4">
      <p class="font-bold default-header">Privacy Policy</p>
    </div>

    <div class="p-6 prose">
      <p><strong>Last updated:</strong> 05/12/2025</p>

      <p>
        This Privacy Policy explains how <strong>LabSafe</strong> ("we", "our",
        or "us") collects, uses, and protects your information when you use our
        website and services. By accessing or using our platform, you agree to
        the terms outlined below.
      </p>

      <p class="font-bold text-2xl">Information We Collect</p>
      <p>
        We collect only the information necessary to operate our web
        application, which functions as a Laboratory Information Management
        System (LIMS). Cookies are used solely for session management.
      </p>

      <p class="font-bold text-2xl">Information We Don't Collect</p>
      <p>
        We don't store any Personal Identifiable Information and we don't track
        our users.
      </p>

      <p class="font-bold">Contact Us</p>
      <p>
        For any questions about this policy, contact <strong>Team 9</strong
        ><br />
      </p>
    </div>
  </div>
</div>
{% endblock %}
