{% extends "base.html" %}

{% block title %}Project{% endblock %}

{% block content %}
  <ul>
    <li>Lead: {{ project.lead }}</li>
    <li>Members: <ul>
      {% for user in project.researchers.all %}
        <li>{{ user.username }}</li>
      {% endfor %}
    </ul></li>
    <li>Mice: <table>
      <tr>
        <th>Link</th>
        <th>Date of Birth</th>
        <th>Tube Number</th>
        <th>Box Number</th>
        <th>Strain</th>
        <th>Coat Colour</th>
        <th>Sex</th>
        <th>Earmark</th>
      </tr>
      {% for mouse in project.mouse_set.all %}
        <tr>
          <td><a href="{% url 'mouseapp:mouse' mouse.id %}">Link</a></td>
          <td>{{ mouse.date_of_birth }}</td>
          <td>{{ mouse.tube_number }}</td>
          <td>{{ mouse.box.number }}</td>
          <td>{{ mouse.strain }}</td>
          <td>{{ mouse.coat_colour }}</td>
          <td>{{ mouse.sex }}</td>
          <td>{{ mouse.earmark }}</td>
        </tr>
      {% endfor %}
    </table></li>
    <li>License constraints: {{ project.license_constraints }}</li>
  </ul>
{% endblock %}
