New request in your LabSafe:<br />
{{ creator_name }} created a {{ request_type }} request{% if project_name %} in {{ project_name }}{% endif %}.<br />
<br />
Request details:<br />
{% for line in request_details.splitlines() %}
  {{ line }}{% if not loop.last %}<br />{% endif %}
{% endfor %}
<br />
<a
  href="{{ protocol }}://{{ domain }}{{ url('mouseapp:request_detail', request_id=request_obj.id) }}"
  >{{ protocol }}://{{ domain }}{{ url('mouseapp:request_detail', request_id=request_obj.id) }}</a
>
