{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="color-scheme" content="light" />
    <meta name="description" content="Animal colony management system" />
    <title>{% block title %}MouseMetrics{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}" />
  </head>

  <body
    class="flex flex-col justify-between h-screen bg-neutral-100"
  >
    {% include "components/navbar.html" %}
    <main class="mb-auto">{% block content %} {% endblock %}</main>
    {% include "components/footer.html" %}
    <script src="https://unpkg.com/preline/dist/preline.js"></script>
    <script src="{% static 'js/password-toggle.js' %}"></script>
  </body>
</html>
