@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center
    px-5 py-2.5
    rounded-xl
    cursor-pointer
    bg-neutral-400 text-neutral-800 border-2
    border-neutral-400 shadow-md
    hover:shadow-lg hover:border-neutral-700
    focus:outline-none focus:ring-2 focus:ring-offset-2
    transition duration-200 ease-in-out;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center
    px-5 py-2.5
    rounded-xl
    cursor-pointer
    bg-transparent text-neutral-800 border-2
    border-neutral-400 shadow-md
    hover:shadow-lg hover:border-neutral-700
    focus:outline-none focus:ring-2 focus:ring-offset-2
    transition duration-200 ease-in-out;
  }

  .btn-password-toggle {
    @apply absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer
    text-gray-400 rounded-e-md
    focus:outline-hidden focus:text-blue-600
    dark:text-neutral-600 dark:focus:text-blue-500
    transition duration-150 ease-in-out;
  }

  .table-data:nth-child(odd) {
    @apply bg-white hover:bg-gray-300 divide-x-1 divide-gray-300;
  }

  .table-data:nth-child(even) {
    @apply bg-gray-200 hover:bg-gray-300 divide-x-1 divide-gray-300;
  }

  .left-table-data{
    @apply border-l-1 border-gray-300
  }

  .right-table-data{
    @apply border-r-1 border-gray-300
  }

  .input-label {
    @apply text-sm text-gray-500 transform scale-75 -translate-y-4 origin-left start-2.5;
  }

  .numeric {
    @apply text-right;
  }

  .table-padding {
    @apply mx-2 px-2;
  }

  .floating-label {
    @apply text-sm text-gray-900 bg-gray-50 rounded-t-lg border-0 border-b-2 border-gray-300 appearance-none focus:border-blue-600 focus:ring-0 focus:outline-none;
  }

  .default-header {
    @apply text-xl font-medium text-gray-900 text-center
  }

  .mouse-flex {
    @apply flex border-b border-gray-200 pb-3
  }

  .mouse-row {
    @apply w-1/3 text-sm font-medium text-gray-600
  }

  .mouse-data {
    @apply w-2/3 text-sm text-gray-900
  }
}
