@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center
    px-5 py-2.5
    rounded-xl
    cursor-pointer
    bg-neutral-400 text-neutral-800 border-2
    border-neutral-400 shadow-md
    hover:shadow-lg hover:border-neutral-700
    focus:outline-none focus:ring-2 focus:ring-offset-2
    transition duration-200 ease-in-out;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center
    px-5 py-2.5
    rounded-xl
    cursor-pointer
    bg-transparent text-neutral-800 border-2
    border-neutral-400 shadow-md
    hover:shadow-lg hover:border-neutral-700
    focus:outline-none focus:ring-2 focus:ring-offset-2
    transition duration-200 ease-in-out;
  }

  .btn-password-toggle {
    @apply absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer
    text-gray-400 rounded-e-md
    focus:outline-hidden focus:text-blue-600
    dark:text-neutral-600 dark:focus:text-blue-500
    transition duration-150 ease-in-out;
  }

  .table-data:nth-child(odd) {
    @apply bg-white hover:bg-gray-300;
  }

  .table-data:nth-child(even) {
    @apply bg-gray-200 hover:bg-gray-300;
  }

  .input-label { @apply
    text-sm text-gray-500 duration-300 transform scale-75 -translate-y-4  origin-left start-2.5
  }

  .numeric { @apply
    text-right
  }

  .table-padding { @apply
    mx-2 px-2
  }

}
